html {
	scroll-behavior: smooth;
  }

body {
	background-color: transparent;
}

::selection {
	background-color: #0e639c;
	color: #fafcfd;
}

.color-list {
	list-style: none;
	padding: 0;
}

.color-entry {
	width: 100%;
	display: flex;
	margin-bottom: 0.4em;
	border: 1px solid var(--vscode-input-border);
}

.color-preview {
	width: 2em;
	height: 2em;
}

.color-preview:hover {
	outline: inset white;
}

.color-input {
	display: block;
	flex: 1;
	width: 100%;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	border: none;
	padding: 0 0.6em;
}

.add-color-button {
	display: block;
	border: none;
	margin: 0 auto;
}

a {
	color: #ffffff !important;
	text-decoration: none !important;
}

a.gear:hover {
	color: #607d8b !important;
}
a.subitem:hover {
	color: #40c057 !important;
}

a.gear::before {
	content: url('../media/gear.svg');
	display: inline;
	padding-right: 5px;
}

a.subitem::before {
	content: url('../media/play.svg');
	display: inline;
	padding-right: 5px;
}

.configpage {
	background-color: #1e1e1e;
	color: #cccccc;
}

.configgroup {
	background-color: #252525;
	color: #cccccc;
	margin: 0 auto;
	max-width: 920px;
	margin-top: 10px;
	overflow: hidden;
	padding: 6px;
}

.group-seperator {
	overflow: hidden;
    height: 2px;
    background-color: #5c5c5c;
    margin: 10px auto;
    width: 900px;
}

.configheader {
	padding: 4px 0px 4px 0px;
	color: #0086e0;
}

.configbar {
	background-color: #1e1e1e;
	color: #cccccc;
	overflow: hidden;
	position: fixed;
	margin: 0 auto;
	width: 960px;
	padding: 10px 20px;
	left: 10px;
	right: 10px;
}

.configinputtext {
	float:left;
	width:90%;
}

.configinputbutton {
	float:left;
	width:10%;
}

.configradiobutton {
	display:inline !important;
	width:14px !important;
	margin:4px 4px 6px 0px;
}

.configitem {
	margin:10px 0px 10px 0px;
	display:block;
	overflow:hidden;
}

input {
	border:1px solid #4d4d4d !important;
}

input:hover {
	border:1px solid #007fd4 !important;
}

input.error {
	border:1px solid #B00000 !important;
}

.action-button {
	background: #036fc2;
}

.action-button:hover {
	background: #0078d4;
}

.delete-button {
	background: #b04020 !important;
}

.delete-button:hover {
	background: #ba4a2a !important;
}

.delete-cell:hover {
	cursor: pointer;
}

#scroll2top {
	display: block;
	position: fixed;
	bottom: -60px;
	right: 30px;
	z-index: 99;
	background-color: #007fd4;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 40px;
	width: 50px;
	height: 50px;
	animation: none;
}

#scroll2top:hover {
	background-color: #4d4d4d;
}

@keyframes flowin {
	from {
		bottom: -60px;
	}
	to {
		bottom: 10px;
	}
}

@keyframes flowout {
	from {
		bottom: 10px;
	}
	to {
		bottom: -60px;
	}
}